@charset "utf-8";

.btn-group button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 8px;
    float: left;
}


.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.btn-group>button:first-child:not(:last-child){
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-group>button:not(:first-child):not(:last-child){
    border-radius: 0;
}
.btn-group>button:last-child:not(:first-child){
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
