@charset "utf-8";

/*버튼 CSS*/
@import url(button.css);
/*dropdown CSS*/
@import url(dropdown.css);


.ex{width: 100%; height: auto; margin: 10px 0px;}
body{min-width: 1200px;}
section{margin: 20px 0px; padding: 0 40px}
h1 {font-weight:700; font-size:50px; text-align:left; margin: 10px 0px;}
h2 {font-weight:700; font-size:30px; text-align:left; margin: 20px 5px; color: black}
