@charset "utf-8";

/*버튼 CSS*/
@import url(button.css);
/*버튼그룹 CSS*/
@import url(button_group.css);
/*dropdown CSS*/
@import url(dropdown.css);
/*inputbox CSS*/
@import url(inputbox.css);
/*label CSS*/
@import url(label.css);
/*text CSS*/
@import url(text.css);
/*thumbnails CSS*/
@import url(thumbnails.css);
/*searchform CSS*/
@import url(searchform.css);
/*pagination CSS*/
@import url(pagination.css);
/*navigation CSS*/
@import url(navigation.css);

.ex{width: 100%; height: auto; margin: 10px 0px;}
body{min-width: 1200px; display: ;}
body header{height: 100px;}
article{
    position: relative;
    display: inline-block;
}
section{width: 100%; margin: 20px 0px; padding: 0 40px;display: inline-block;}
.droplayout{margin-bottom: 100px;}
.left{width: 50%; height: auto; display: inline-block; float: left;}
.right{width: 50%; height: auto; display: inline-block; float: right;}
