@charset "utf-8";

/*IE Input 기본값 설정(input type이 text, email 인 경우 입력시 취소버튼 없앰--start*/
input[type=text]::-ms-clear {
	display: none;
}
input[type=email]::-ms-clear {
	display: none;
}
/*IE Input 기본값 설정(input type이 text, email 인 경우 입력시 취소버튼 없앰--end*/


/*inputbtn-sm start */
.inputbtn-sm[type='text'],
.inputbtn-sm[type='password'],
.inputbtn-sm[type='search']{
    display: block;
    padding: 5px 6px;

    height: 19px;
    vertical-align: middle;
    font-size: 12px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
}
/*inputbtn-sm end */
/*inputbtn-defalut start */
.inputbtn-defalut[type='text'],
.inputbtn-defalut[type='password'],
.inputbtn-defalut[type='search']{
    display: block;
    padding: 6px 11px;
    height: 28px;
    vertical-align: middle;
    font-size: 15px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
}
/*inputbtn-defalut end */
/*inputbtn-lg start */
.inputbtn-lg[type='text'],
.inputbtn-lg[type='password'],
.inputbtn-lg[type='search']{
    display: block;
    padding: 6px 12px;
    height: 43px;
    vertical-align: middle;
    font-size: 25px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
}
/*inputbtn-lg end */


/*inputbox-sm start */
.inputbox-sm{
    display: table;
    border-collapse: separate;
    border-radius: 3px;
}

.inputbox-head-sm{
    display: table-cell;
    background-color: #eee;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #cfcfcf;
    height: 25px;
    padding: 2px 2px;
    vertical-align: middle;
}


.inputbox-ico-sm{
    display: table-cell;
    width: 25px;
    height: 25px;
    background: url(../image/ico-total.png) no-repeat  -264px -38px;
    background-size: 600px 600px;
}
.inputbox-sm .inputbtn-sm{
    float: left;
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
/*inputbox-sm end */

/*inputbox-defalut start */
.inputbox-defalut{
    display: table;
    border-collapse: separate;
    border-radius: 3px;
}

.inputbox-head-defalut{
    display: table-cell;
    float: left;
    background-color: #eee;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #cfcfcf;
    height: 28px;
    padding: 6px 6px;
    vertical-align: middle;
}


.inputbox-ico-defalut{
    display: table-cell;
    width: 30px;
    height: 30px;
    background: url(../image/ico-total.png) no-repeat  -326px -50px;
    background-size: 740px 740px;
}
.inputbox-defalut .inputbtn-defalut{
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;;
}
/*inputbox-defalut end */

/*inputbox-lg start */

.inputbox-lg{
    display: table;
    border-collapse: separate;
    border-radius: 3px;
}

.inputbox-head-lg{
    display: table-cell;
    background-color: #eee;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #cfcfcf;
    height: 35px;
    padding: 9px 9px;
    vertical-align: middle;
}


.inputbox-ico-lg{
    display: table-cell;
    width: 35px;
    height: 35px;
    background: url(../image/ico-total.png) no-repeat  -398px -60px;
    background-size: 900px 900px;
}
.inputbox-lg .inputbtn-lg{
    float: left;
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
/*inputbox-lg end */


