@charset "utf-8";

/*IE Input 기본값 설정(input type이 text, email 인 경우 입력시 취소버튼 없앰--start*/
input[type=text]::-ms-clear {
	display: none;
}
input[type=email]::-ms-clear {
	display: none;
}
/*IE Input 기본값 설정(input type이 text, email 인 경우 입력시 취소버튼 없앰--end*/

/*inputbox-defalut start */
.inputbox-defalut{
    display: table;
    border-collapse: separate;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
}

.inputbox-head-defalut{
    display: table-cell;
    float: left;
    background-color: #eee;
    border-right: 1px solid #cfcfcf;
    padding: 5px 5px;
}


.inputbox-ico-defalut{
    display: table-cell;
    width: 30px;
    height: 30px;
    background: url(../image/ico-total.png) no-repeat  -326px -50px;
    background-size: 740px 740px;
}
.inputbox-body-defalut{
    padding: 6px 10px;
    float: left;
    width: 159px;
    height: 28px;
    display: table-cell;
    vertical-align: middle;
    border: none;
    font-size: 15px;
    text-indent: 5px;
}
/*inputbox-defalut end */

/*inputbox-lg start */

.inputbox-lg{
    display: table;
    border-collapse: separate;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
}

.inputbox-head-lg{
    display: table-cell;
    float: left;
    background-color: #eee;
    border-right: 1px solid #cfcfcf;
    padding: 10px 10px;
}


.inputbox-ico-lg{
    display: table-cell;
    width: 35px;
    height: 35px;
    background: url(../image/ico-total.png) no-repeat  -398px -60px;
    background-size: 900px 900px;
}
.inputbox-body-lg{
    padding: 6px 10px;
    float: left;
    width: 278px;
    height: 43px;
    display: table-cell;
    vertical-align: middle;
    border: none;
    font-size: 25px;
    text-indent: 5px;
}
/*inputbox-lg end */


/*inputbox-sm start */
.inputbox-sm{
    display: table;
    border-collapse: separate;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
}

.inputbox-head-sm{
    display: table-cell;
    float: left;
    background-color: #eee;
    border-right: 1px solid #cfcfcf;
    padding: 3px 3px;
}


.inputbox-ico-sm{
    display: table-cell;
    width: 25px;
    height: 25px;
    background: url(../image/ico-total.png) no-repeat  -264px -38px;
    background-size: 600px 600px;
}
.inputbox-body-sm{
    padding: 6px 10px;
    float: left;
    width: 98px;
    height: 19px;
    display: table-cell;
    vertical-align: middle;
    border: none;
    font-size: 12px;
}
/*inputbox-sm end */
