@charset "utf-8";

/*IE selectbox 기본 화살표 제거 start */

select::-ms-expand {
    display: none;
    border: none;
}


/*IE selectbox 기본 화살표 제거 end */

select {
    border: none;
    -webkit-appearance: none;
    /*chrome 기본 화살표 제거 */
    padding: 5px;
}

.searchform {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: 43px;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
}

.sfdropbtn {
    width: 100%;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    height: 43px;
    background: url(../image/carret.png) no-repeat 95% 50%;
    /* 화살표 모양의 이미지 */
}

.sfdropdown {
    position: relative;
    display: inline-block;
    border-right: 1px solid #cfcfcf;
    padding: 0px 5px;
    width: 100px;
}

.select:after {
    content: '';
    vertical-align: middle;
    padding: 13px 7px;
    background-image: url(../image/carret.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 15px 10px;
}


/* dropdown menu basic size end */

.sfinputbtn-lg[type='text'],
.sfinputbtn-lg[type='password'],
.sfinputbtn-lg[type='search'] {
    padding: 5px 6px;
    display: inline-block;
    border: none;
    width: 250px;
    font-size: 20px;
}

.sfsubmit {
    display: inline-block;
    width: 70px;
    cursor: pointer;
    font-size: 20px;
    height: 43px;
    border-left: 1px solid #cfcfcf;
}


/* searchform-sm start */

.searchform-sm {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: 30px;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
}

.sfdropbtn-sm {
    width: 100%;
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    height: 30px;
    background: url(../image/carret.png) no-repeat 95% 50%;
    /* 화살표 모양의 이미지 */
}

.sfdropdown-sm {
    position: relative;
    display: inline-block;
    border-right: 1px solid #cfcfcf;
    padding: 0px 5px;
    width: 75px;
}


/* dropdown menu basic size end */

.sfinputbtn-sm[type='text'],
.sfinputbtn-sm[type='password'],
.sfinputbtn-sm[type='search'] {
    padding: 3px 5px;
    display: inline-block;
    border: none;
    width: 200px;
    font-size: 15px;
}

.sfsubmit-sm {
    display: inline-block;
    width: 70px;
    cursor: pointer;
    font-size: 15px;
    height: 30px;
    vertical-align: middle;
    border-left: 1px solid #cfcfcf;
}


/* searchform-sm end */
